<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead List</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
        a {
            text-decoration: None;
        }
    </style>
</head>
<body>
    <a href="/leads">Back</a>
    <h1>This is details of {{ lead.first_name }}</h1>
    <p>This persons age: {{ lead.age }}</p>
</body>
</html>